<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hesaidshesaid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/imageicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".TitleScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".HowManyPlayersScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".EnterPlayerNamesScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PickHostScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AskQuestionScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DisplayQuestionScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AskAnswerScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ScoreBoardScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ChooseAnswerScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DisplayRoundWinnerScreen"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".WinningScreen"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
